@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --full-viewport-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  display: flex;
  height: var(--full-viewport-height);
}

div.image {
  height: var(--full-viewport-height);
  width: 40vw;
  border: 5px solid black;
  background: center url(/css/ilia-bronskiy--unsplash.jpg);
  background-size: cover;
}

div.text {
  height: var(--full-viewport-height);
  width: 60vw;
  border: 5px solid grey;
}
