@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --full-viewport-height: 100vh;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  display: flex;
  height: var(--full-viewport-height);
}

div.image {
  height: var(--full-viewport-height);
  width: 40vw;
  background: center url(/css/ilia-bronskiy--unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

div.text {
  height: var(--full-viewport-height);
  width: 60vw;
}

div.logo-area {
  box-sizing: border-box;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 8rem;
  position: absolute;
  top: 30vh;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

div.acknowledgement {
  background: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

div.acknowledgement a {
  color: white;
}

.logo {
  height: 100%;
}

.logo-text {
  color: white;
  font-size: 4rem;
  font-weight: 800;
}
